*{
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    background-color: slategrey;
}

.header {
    background-color: #333;
    color: white;
    padding: 20px;

}

.button {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px 20px;
    border: 1px solid transparent;
    background-color: #333;
    color: white;
    border-radius: 5%;
    cursor: pointer;
    transition: all 1s;

}

.button:hover {
    background: transparent;
    color: black;
    border: 1px solid black;

}

form {
    margin: 10px;
    margin-top: 20px;
}

form label {
    display: block;
    margin: 5px 0 ;
}

form input[type="text"],
input[type="email"] {
    padding: 7px 1px;
    margin: 3px 0;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    
}