{% extends 'base.html' %}
{% block content %}
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row mt-5">
            <div class="col-6">
                <p>The stock market has been influenced by COVID-19 much like everything else in our world. Thus the following visualisations will 
                    show what the affects were and a linear regression was used to forecast stocks performances in the coming months.
                </p>
            </div>
            <div class="col-6">
                {{ div_survived_chart | safe }}
            </div>
        </div>
        <div class="row mt-5">
            {{ div_title_chart | safe }}
        </div>
        <div class="row mt-5">
            {{ div_hist_age | safe }}
        </div>
    </div>

    {{ script_survived_chart | safe }}
    {{ script_title_chart | safe }}
    {{ script_hist_age | safe }}
{% endblock %}